.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.box {
  position: relative;
  width: 25%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #bca384;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  border-radius: 15px;
  z-Index: 1000;
}

.close-icon {
  content: url('../Images/close_icon.png');
  cursor: pointer;
  position: fixed;
  right: calc(37% + 22px);
  top: calc(100vh - 85vh - 7px);
} 
 
  /* New media query for max width 600px */
  @media only screen and (max-width: 600px) {
        .box {
          width: 73%;
          margin-top: calc(30vh - 25vh - 20px);
        }
        .box h2{
            font-size: 20px;
        }
        .close-icon {
          right: 16%;
          top: calc(5% - 6px);
        }
      }
      
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .box {
      width: 53%;
      margin-top: calc(50vh - 42.5vh - 20px);
    }
    .box h2{
        font-size: 25px;
    }
    .close-icon{
        right:calc(25% + 5px);
        top: calc(7% + 2px);
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .box {
      width: 43%;
      margin-top: calc(50vh - 42.5vh - 20px);
    }
    .box h2{
        font-size: 27px;
    }
    .close-icon{
        right: calc(29% + 10px);
        top: 7%;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .box {
      width: 37%;
      margin-top: calc(50vh - 42.5vh - 20px);
    }
    .box h2{
        font-size: 30px;
    }
    .close-icon{
        right: calc(33% + 2px);
        top: 7%;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .box {
      width: 32%;
      margin-top: calc(50vh - 42.5vh - 20px);
    }
    .box h2{
        font-size: 30px;
    }
    .close-icon{
        right: calc(36%);
        top: 7%;
    }
  }
  
  /* Extra extra large devices (Extra large laptops and desktops, 1600px and up) */
  @media only screen and (min-width: 1600px) {
    .box {
      width: 25%;
      margin-top: calc(100vh - 92.5vh - 20px);
    }
    .box h2{
      font-size: 32px;
  }
 
    .close-icon {
        right: calc(38% + 8px);
        top: calc(7% + 5px);
      }
  }